*{
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
header{
    display: flex;
    border-bottom: 1px solid rgb(103, 181, 183);
    justify-content: space-between;
    padding: 0 20px;
}

.titulo img{
  display: flex;
  
}
 
nav{
    display: flex;
    align-items: center;
}
 
nav ul{
    display: flex;
    list-style: none;
}
 
nav a{
    text-decoration: none;
    color: rgb(103, 181, 183);
}
nav ul li a {
  padding: 20px 20px;
}
 
nav a:hover{
    color: royalblue;
    background-color: rgb(103, 181, 183);
}

main ol{
  color: #0a3d62;
  max-width: 800px;
  margin: auto;
  background-color: #fff;
  padding: 30px;
}

 body {
    background-color: #f0f4f7;
    margin: 0;
    padding: 0;
  }

main h1 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
    color: #0a3d62;
  }

main li {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }

  .perguntas {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    color: #007B8F;
  }

    h1{
    text-align: center;
    margin: 30px;
  }


footer{
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  margin-top: 40px;
 
}