*{
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

 
header{
    display: flex;
    border-bottom: 1px solid rgb(103, 181, 183);
   
}
 


 
.titulo img{
    display: flex;
}
 
nav{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
 
}
 
nav ul{
    display: flex;
    list-style: none;
    gap: 50px;
}
 
nav a{
    text-decoration: none;
    color: rgb(103, 181, 183);
   
}
 
nav ul li a {
  padding: 20px 20px;
}
 
nav a:hover{
    color: royalblue;
    background-color: rgb(103, 181, 183);
}

 body {
    background-color: #f0f4f7;
    margin: 0;
    padding: 0;
  }

main {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
  }

main h1 {
    text-align: center;
    color: #0a3d62;
    margin-bottom: 30px;
  }

main li {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }

  .perguntas {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    color: #007B8F;
  }


footer{
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  margin-top: 40px;
 
}