*{
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
header{
    display: flex;
    border-bottom: 1px solid rgb(103, 181, 183);
    justify-content: space-between;
    padding: 0 20px;
}

.titulo img{
  display: flex;
  
}
 
nav{
    display: flex;
    align-items: center;
}
 
nav ul{
    display: flex;
    list-style: none;
}
 
nav a{
    text-decoration: none;
    color: rgb(103, 181, 183);
}
nav ul li a {
  padding: 20px 20px;
}
 
nav a:hover{
    color: royalblue;
    background-color: rgb(103, 181, 183);
}

body{
  background-color: #f0f4f7;
}

html, body {
  display: flex;
  flex-direction: column;
}

main {
  padding: 30px 20px;
  color: #0a3d62;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
 
section {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 20px;
  flex-direction: row;
}
 
.texto {
  flex: 1;
  font-size: 24px;
  text-align: justify;
}
 
.imagem {
  flex: 1;
  display: flex;
  justify-content: center;
 
}
 
.imagem img {
  max-width: 100%;
  height: auto;
}
 
.localizacao{
  text-align: center;
  margin: 20px;
  padding-top: 30px;
}
 
 
footer{
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  margin-top: 40px;
 
}


 
 
@media (max-width: 768px) {
  section {
    flex-direction: column;
    text-align: justify;
  }
  nav ul li a {
  padding: 0;
  margin: 20px;
}
}

@media (min-width: 600px) {
  body {
    font-size: 15px;
    padding: 15px;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
    padding: 20px;
  }
}

@media (min-width: 992px) {
  body {
    font-size: 17px;
    padding: 30px;
  }
}

@media (min-width: 1300px) {
  body {
    font-size: 18px;
    padding: 40px;
  }
}