*{
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
header{
    display: flex;
    border-bottom: 1px solid rgb(103, 181, 183);
    justify-content: space-between;
    padding: 0 20px;
}

.titulo img{
  display: flex;
  
}
 
nav{
    display: flex;
    align-items: center;
}
 
nav ul{
    display: flex;
    list-style: none;
}
 
nav a{
    text-decoration: none;
    color: rgb(103, 181, 183);
}
nav ul li a {
  padding: 20px 20px;
}
 
nav a:hover{
    color: royalblue;
    background-color: rgb(103, 181, 183);
}

body{
  background-color: #f0f4f7;
}




main{
  text-align: center;
  padding: 30px 20px;
  color: #0a3d62;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;

}

main h1{
  margin: 20px;
}

.suporte{
    width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin: auto;

}

.assistente{
  margin-bottom: 20px;
  font-size: x-large;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.assistente img{
  margin-top: 0px;
}

.perguntas button {
  color: #0a3d62;
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #0a3d62;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  text-align: center;
  width: 300px;
}

.perguntas a {
  color: #0a3d62;
  text-decoration: none;
}

.perguntas{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}














footer{
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  margin-top: 40px;
 
}



@media (max-width: 768px) {
  section {
    flex-direction: column;
    text-align: justify;
  }
  nav ul li a {
  padding: 0;
  margin: 20px;
}
}

@media (min-width: 600px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1300px) {

}